---
import SubButton from "./SubButton.astro";
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("username");
    const email = data.get("email");
    const password = data?.get("message");
    // Do something with the data
    console.log(name)
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<div class="contact-form" id="contact">
    <h2>Contact Us</h2>
    <form id="contactForm" method="post">
        <input type="text" id="name" placeholder="Your Name" name="username" required>
        <input type="email" id="email" placeholder="Your Email" name="email" required>
        <textarea id="message" placeholder="Your Message" name="message" required></textarea>
        <SubButton/>
    </form>
    <div class="social-icons">
        <a href="https://wa.me/+5356236142?text=Hola!%20Quiero%20contactarte%20desde%20tu%20sitio%20web" target="_blank" class="whatsapp-icon">WhatsApp</a>
        <a href="mailto:abcelkuqui@gmail.com?subject=Consulta&body=Hola,%20quiero%20hacer%20una%20consulta." class="email-icon">Email</a>
    </div>
</div>

<style>
    .contact-form {
    background-color: var(--light-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid ;
    max-width: 400px;
    min-width: 200px ;
    
    margin:auto;
    margin-block: 64px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}



.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-icons a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #0056b3;
}

@media screen and (max-width:480px) {
    .contact-form{
        margin-inline: 24px;
    }
}
</style>

