<section id="contact">
    <h2>Send me a message!</h2>
    <form action="" >
        <label for="" style="">
            Name:
        </label>
            <input type="text">
        <label for="">
            Email
        </label>
            <input type="text">
        <label for="">
            Message
        </label>
            <textarea name="" id="" cols="30" rows="10" ></textarea>
    </form>
</section>

<style>
    section{
        border: 1px solid black;
        max-width: fit-content;
        max-height: fit-content;
       margin:auto;
       background-color: rgba(43, 221, 73, 0.425);
       padding: 40px;
       border-radius: 8px;
    }
    form{
        
    }

    form *{
        display: block;
        
    }

    input{
        border: 1px solid transparent ;
        border-bottom:1px solid blue ;
        
        background-color: transparent;
    }
</style>