<section>
    <h1>Web Portfolio</h1>
    <h2>Frontend Developer</h2>

</section>

<style>
    section{
        {/*background-image: url(marek-piwnicki-eVg2GOJ2A_k-unsplash.jpg) ;*/}
        max-width: 100%;
        
        background-size: contain;
        background-repeat: no-repeat;
        width: 100vw;
        aspect-ratio: 16/10;
       
    }
</style>