---

import ToggleTheme from './ToggleTheme.astro'
import Sun from './icons/material/Sun.astro'
import HomeIco from './icons/material/HomeIco.astro'
import Contacts from './icons/material/Contacts.astro';
import Description from './icons/material/Description.astro';
import FolderProyects from './icons/material/FolderProyects.astro';
import SkillsIco from './icons/material/SkillsIco.astro';

---

<nav >
		
    <a href="/#"><div class="icosvg"><HomeIco/></div> <div class="alt-text">Home</div></a>
    <div>
		<div class="menu"><div class="icosvg"><Sun/></div></div>
		<a href="#about"><div class="icosvg"><Description/></div><div class="alt-text">AboutMe</div></a>
        <a href="#proyects"><div class="icosvg"><FolderProyects/></div> <div class="alt-text">Proyects</div></a>
        <a href="#skills"><div class="icosvg"><SkillsIco/></div> <div class="alt-text">Skills</div></a>
        <a href="#contact"><div class="icosvg"><Contacts/></div> <div class="alt-text">Conctact</div></a> 
        <ToggleTheme/> 
    </div>
	
</nav>

<style>
	nav{
		display: flex;
		justify-content: space-between;
		padding:8px;
		padding-inline: 16px;
		
		background:rgb(var(--navColor), 0.9) ;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		gap: 32px;
		font-weight: 100;
		font-size: 20px;
		transition:  1s all  ease;
		position: fixed;
		width: 100%;
		top: 0;	
		z-index: 5;
		
	}

	

	nav a{
		text-decoration: none;
		color: var(--light-text-color);
		text-align: center;
		display: flex;
		align-items: center;
		gap: 8px;
	}

	nav>a{
		gap:4px;
	}
	
	nav>div{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		gap: 16px;
	}

.menu{display:none;}
.icosvg{
	height:24px;
	min-height:24px;
	width:24px;
	min-width:24px;
	display: block;
}

nav:hover{
	background: rgb(var(--navColor));
}

nav a:hover{
		color: rgb(var(--links-rgb));
	}

	nav{
		animation: 0.5s fade_down ease;
	}

	@keyframes fade_down{
        from{
            opacity: 0;
            transform: translateY(-30px);     
        }
        to{
            opacity:1;
        }
    }	


    

@media screen and (max-width: 640px) {
	
	span{font-size: 24px;}
	.alt-text{display: none;}
	
}
</style>