---
 interface Props {
    name:string
    description:string
    src:string
}

const {name,description,src}=Astro.props
---

<article>
<h3>{name}</h3>
<img src={src} alt="">
<p>{description}</p>
</article>

<style>
    
    article{
        
        background: rgb(186, 151, 219);
        border-radius: 8px;
        border: solid blue 2px;
        box-shadow: 10px 10px 10px;
        padding: 16px;
        transition: transform .4s ease;
    }

    article:hover{
        transform: translateY(-4px);
    }

    img{
       
        width: 300px;
        aspect-ratio: 16/10;
    }
</style>