---
 interface Props {
    name:string
    description:string
    src:string
}

const {name,description,src}=Astro.props
---

<article>
<h4>{name}</h4>
<img src={src} alt="">
<p>{description}</p>
</article>

<style>
    
    article{
        height: 120px;
        width: 120px;
        background: rebeccapurple;
       
    }

    img{
        display: flex ;
    }
</style>