---
import Cib_sass_alt from "./icons/yesicons/Cib_sass_alt.astro"
import Devicon_plain_mysql from "./icons/yesicons/Devicon_plain_mysql.astro";
import File_icons_nextjs from "./icons/yesicons/File_icons_nextjs.astro"
import Iconoir_css3 from "./icons/yesicons/Iconoir_css3.astro"
import Mingcute_github_line from "./icons/yesicons/Mingcute_github_line.astro"
import Simple_icons_astro from "./icons/yesicons/Simple_icons_astro.astro"
import Simple_icons_javascript from "./icons/yesicons/Simple_icons_javascript.astro"
import Simple_icons_postgresql from "./icons/yesicons/Simple_icons_postgresql.astro"
import Simple_icons_react from "./icons/yesicons/Simple_icons_react.astro"
import Simple_icons_tailwindcss from "./icons/yesicons/Simple_icons_tailwindcss.astro"
import Uil_html5_alt from "./icons/yesicons/Uil_html5_alt.astro"
import Uil_java_script from "./icons/yesicons/Uil_java_script.astro"
import Uit_linkedin_alt from "./icons/yesicons/Uit_linkedin_alt.astro"
import Whh_java from "./icons/yesicons/Whh_java.astro"
import Teenyicons_nextjs_outline from "./icons/yesicons/Teenyicons_nextjs_outline.astro"
---

<section id="skills">
    <h1>Skills</h1>
    <div class="skill_container">
        <ico><Teenyicons_nextjs_outline/></ico>
        <ico><Cib_sass_alt/></ico>
		<ico><Devicon_plain_mysql/></ico>
		<ico><File_icons_nextjs/></ico>
        <ico><Iconoir_css3/></ico>
		<ico><Mingcute_github_line/></ico>
        <ico><Simple_icons_astro/></ico>
		<ico><Simple_icons_javascript/></ico>
		<ico><Simple_icons_postgresql/></ico>
		<ico><Simple_icons_react/></ico>
		<ico><Simple_icons_tailwindcss/></ico>
		<ico><Uil_html5_alt/></ico>
		<ico><Uil_java_script/></ico>
		<ico><Uit_linkedin_alt/></ico>
		<ico><Whh_java/></ico>
	</div>
</section>

<style>
	ico{
		height: 40px;
		width: 40px;
		display: flex;
		align-items: center;
		
		
	}
	.skill_container{
		display: flex;
		max-width: 960px;
		gap: 16px;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin: auto;	
		gap: 80px;
	}

		ico:hover{
		color:blue
		
	}
</style>