<button id="themeToggleBtn"></button>

<script>
    document.getElementById('themeToggleBtn')?.addEventListener('click', function() {
        const body = document.body;
        const currentBgColor = getComputedStyle(body).getPropertyValue('--light-bg-color');
        const currentTextColor = getComputedStyle(body).getPropertyValue('--light-text-color');
    
        let newBgColor, newTextColor;
        if (currentBgColor === '#ffffff') {
            newBgColor = '#000000';
            newTextColor = '#ffffff';
        } else {
            newBgColor = '#ffffff';
            newTextColor = '#000000';
        }
    
        body.style.setProperty('--light-bg-color', newBgColor);
        body.style.setProperty('--light-text-color', newTextColor);
    
        // Guardar el tema en localStorage
        localStorage.setItem('theme', newBgColor === '#000000' ? 'dark' : 'light');
    });
    </script>

<style>
    button{
        border-radius: 50%;
        border: solid 1px var(--light-bg-color); 
    width: 20px;
    height: 20px;
    background: var(--light-text-color);
    align-self: center;}
</style>