---
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			 (function() {
				const savedTheme = localStorage.getItem('theme');
				if (savedTheme) {
					const body = document.body;
					if (savedTheme === 'dark') {
						body.style.setProperty('--light-bg-color', '#000000');
						body.style.setProperty('--light-text-color', '#ffffff');
					} else {
						body.style.setProperty('--light-bg-color', '#ffffff');
						body.style.setProperty('--light-text-color', '#000000');
					}
				}
			})();
			</script>
	</head>
	<body>
		<NavBar/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>



<style is:global>
	:root{
		--prymary:153, 153, 175;
		--startSpace:16px;
		--light-bg-color: #ffffff;
    	--light-text-color: #000000;
		--prymary-rgb:255, 255, 255;
		--secondary-rgb:0, 0, 0;
    	--dark-bg-color: #000000;
    	--dark-text-color: #ffffff;
		--navColor:50, 172, 228;
		--links-rgb: 132, 58, 206
	}

	html{
		scroll-behavior: smooth;
	}

	h1{
		margin: 32px;
		margin-bottom: 120px;
		font-size: 42px;
	}

	*{ box-sizing: border-box;}

	main{}
	
	.theme{
		position: absolute;
		top: 12px;
		right: 12px;
		background: #000000;
		width: 20px;
		height: 20px;
		z-index: 10;
	}

	body{
		margin: 0;
		font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		background-color: var(--light-bg-color);
    	color: var(--light-text-color);
    	transition: background-color 0.5s ease, color 0.5s ease;
		
		#a5ccee #7ca2c4
		##cambios de phind 
	}


section{
	padding-block: 48px;
}
</style>

<!-- ASTRO STYLE -->
<!-- <style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style> -->


