---
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			 (function() {
				const savedTheme = localStorage.getItem('theme');
				if (savedTheme) {
					const body = document.body;
					if (savedTheme === 'dark') {
						body.style.setProperty('--light-bg-color', '#000000');
						body.style.setProperty('--light-text-color', '#ffffff');
						body.style.setProperty('--gradone', '#4b6cb7');
						body.style.setProperty('--gradtwo', '#182848');
					} else {
						body.style.setProperty('--light-bg-color', '#ffffff');
						body.style.setProperty('--light-text-color', '#000000');
						body.style.setProperty('--gradone', '#e3ffe7');
						body.style.setProperty('--gradtwo', '#d9e7ff');
					}
				}
			})();
			</script>
	</head>
	<body>
		<NavBar/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>



<style is:global>
	:root{
		--prymary:153, 153, 175;
		--startSpace:16px;
		--light-bg-color: #ffffff;
    	--light-text-color: #000000;
		--prymary-rgb:255, 255, 255;
		--secondary-rgb:0, 0, 0;
    	--dark-bg-color: #000000;
    	--dark-text-color: #ffffff;
		--navColor:50, 172, 228;
		--links-rgb: 132, 58, 206;
		--gradone:#e3ffe7;
		--gradtwo:#d9e7ff;
	}

	html{
		scroll-behavior: smooth;
	}

	h1{
		margin: 32px;
		margin-bottom: 120px;
		font-size: 42px;
	}

	*{ box-sizing: border-box;}

	main{}
	
	.theme{
		position: absolute;
		top: 12px;
		right: 12px;
		background: #000000;
		width: 20px;
		height: 20px;
		z-index: 10;
	}

	body{
		margin: 0;
		font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		background-color: var(--light-bg-color);
		background: linear-gradient(90deg, var(--gradone) 0%, var(--gradtwo) 100%);;
    	color: var(--light-text-color);
    	transition: background-color 0.5s ease, color 0.5s ease;
		
	
	}


section{
	padding-block: 48px;
}
</style>




